<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}L4L | {% endblock %}</title>
        {% block stylesheets %}
			<link rel="stylesheet" href="{{asset('css/bootstrap.css')}}" type="text/css">
		{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

		{% block javascripts %}
			{# Gestion du dom #}
			<script type="text/javascript" src="{{asset('js/jquery.min.js')}}"></script>
			{# Fonctions utiles #}
			<script type="text/javascript" src="{{asset('js/underscore.min.js')}}"></script>
			{# Gestion MVC #}
			<script type="text/javascript" src="{{asset('js/backbone.min.js')}}"></script>
			{# Modal et autres #}
			<script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>
		{% endblock %}
    </head>
    <body>
		<div class="container">
			{# Header #}
			<div id="header" class="hero-unit">
				<h1>Link4Lead Account Management</h1>
				<p>Gestion des mots de passes de Link4Lead</p>
			</div>

			{# Body #}
			<div class="row">
				<div id="content" class="span12">
					 {% block body %}{% endblock %}
				</div>
			</div>

			{# Footer #}
			<hr>
			<footer>
				Tom Corporation&copy;
			</footer>
		</div>
    </body>
</html>
