{%extends "ProjectxAccountBundle::layout.html.twig" %}

{%block title%}{{parent()}} - Home{%endblock%}

{%block javascripts%}
	{{parent()}}
	<script type="text/javascript" src="{{asset('js/projectx/account/account.js')}}"></script>
{%endblock%}

{%macro row(id, name, login, password, url, groupName)%}
	<tr id="j-rowAccount{{id|raw}}" class="j-rowAccount">
		<input type="hidden" class="j-id" value="{{id|raw}}" />
		<td>
			<a class="j-edit" id="j-edit{{id|raw}}" title="edit"><i class="icon-edit"></i></a>
			<a class="j-delete" id="j-delete{{id|raw}}" title="delete"><i class="icon-trash"></i></a>
		</td>
		<td>
			<span>{{name|raw}}</span>
			<input class="hide" type="text" name="name" value="{{name|raw}}" placeholder="Nom" />
		</td>
		<td>
			<span><a href="{{url|raw}}" target="_blank">{{url|raw}}</a></span>
			<input class="hide" type="text" name="url" value="{{url|raw}}" placeholder="Url" />
		</td>
		<td>
			<span>{{login|raw}}</span>
			<input class="hide" type="text" name="login" value="{{login|raw}}" placeholder="Login" />
		</td>
		<td>
			<span>{{password|raw}}</span>
			<input class="hide" type="text" name="password" value="{{password|raw}}" placeholder="Password" />
		</td>
		<td>
			<span>{{groupName|raw}}</span>
			<a class="hide btn btn-primary j-save" id="j-save{{id|raw}}">Save</a>
		</td>
	</tr>
{%endmacro%}
{%import _self as accountMacro%}

{%block body%}
	{{ knp_menu_render('ProjectxAccountBundle:Builder:mainMenu') }}

	<h2>Account list</h2>
	<a class="btn btn-primary" href="{{path('AddAccount')}}">Create</a>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
				<th{%if accounts.isSorted('a.name')%} class="sorted" {%endif%}>{{accounts.sortable('list.header.name'|trans, 'a.name')|raw}}</th>
				<th>{{'list.header.url'|trans}}</th>
				<th>{{'list.header.name'|trans}}</th>
				<th>{{'list.header.password'|trans}}</th>
				<th>{{'list.header.group'|trans}}</th>
			</tr>
		</thead>
		<tbody id="j-accountsBody">
			{%for account in accounts%}
				{{accountMacro.row(account.id, account.name, account.login, account.password, account.url, account.group.name)}}
			{%else%}
				<tr>
					<td colspan=6 class="center">No Accounts !</td>
				</tr>
			{%endfor%}
		</tbody>
		<tfooter>
			{{accounts.render()|raw}}
		</tfooter>
	</table>

	{# Template Underscore de la liste de comptes #}
	<script type="text/template" id="j-accountsBodyTpl">
		<% _.each(accounts, function(account) { %>
			{{accountMacro.row("<%= account.id %>", "<%= account.name %>", "<%= account.login %>", "<%= account.password %>", "<%= account.url %>", "<%= account.group.name %>")}}
		<% }); %>
	</script>

	{#
	{%macro row(id, name, login, password, url, groupName)%}
		<tr id="j-rowAccount{{id}}">
			<input type="hidden" class="j-id" value="{{id}}">
			<td>
				<a class="j-edit" title="edit"><i class="icon-edit"></i></a>
				<a class="j-delete" title="delete"><i class="icon-trash"></i></a>
			</td>
			<td>{{name}}</td>
			<td><a href="{{url}}" target="_blank">{{url}}</a></td>
			<td>{{login}}</td>
			<td>{{password}}</td>
			<td>{{groupName}}</td>
		</tr>
	{%endmacro%}
	{%import _self as accountMacro%}

	{%for account in accounts%}

	{%else%}
		<tr>
			<td colspan=6 class="center">No Accounts !</td>
		</tr>
	{%endfor%}

	Template avec le path
	{{accountMacro.row("<%= id %>", "<%= name %>", "<%= login %>", "<%= password %>", "<%= url %>", "<%= group.name %>")}}
	{{accountMacro.row(account.id, account.name, account.login, account.password, account.url, account.group.name)}}
	<tr>
		<td>
			<a title="edit" href="{{path('UpdateAccount', {'id':account.id})}}"><i class="icon-edit"></i></a>
			<a title="delete" href="{{path('DeleteAccount', {'id':account.id})}}"><i class="icon-trash"></i></a>
		</td>
		<td>{{account.name}}</td>
		<td><a href="{{account.url}}" target="_blank">{{account.url}}</a></td>
		<td>{{account.login}}</td>
		<td>{{account.password}}</td>
		<td>{{account.group.name}}</td>
	</tr>
	#}
{%endblock%}